<nav>
  <fa-icon [icon]="logoIcon" size="6x"></fa-icon>
  <h1 class="nav-title">Termite Home</h1>
</nav>

<div class="card w-80 lg:w-96 glass">
  <figure>
    <img src="assets/images/bedroom.png" alt="Bedroom pic" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Bedroom</h2>
    <div class="card-actions">
      <div class="actions-group">
        <button class="btn btn-primary grow" (click)="trigger('zigbee2mqtt/Bedroom_Light_Wall_Switch', '1_single')">
          Room Light
        </button>
        <div class="brightness-group">
          <button class="btn btn-primary rounded-full" (click)="message('Bedroom_Light', { brightness: 32 })">
            <fa-icon [icon]="lightbulbIcon" size="lg" style="color: rgb(47, 78, 81)" />
          </button>
          <button class="btn btn-primary rounded-full" (click)="message('Bedroom_Light', { brightness: 128 })">
            <fa-icon [icon]="lightbulbIcon" size="lg" style="color: rgb(215,215,215);" />

          </button>
          <button class="btn btn-primary rounded-full" (click)="message('Bedroom_Light', { brightness: 254 })">
            <fa-icon [icon]="lightbulbIcon" size="lg" style="color: rgb(255,255,255)" />
          </button>
        </div>
      </div>

      <div class="actions-group">
        <button class="btn btn-secondary grow" (click)="trigger('zigbee2mqtt/Bedroom_Light_Wall_Switch', '2_single')">
          Desk Light
        </button>
        <div class="brightness-group">
          <button class="btn btn-secondary rounded-full" (click)="message('Bedroom_Light', { brightness: 32 })">
            <fa-icon [icon]="lightbulbIcon" size="lg" style="color: rgb(114, 74, 13)" />
          </button>
          <button class="btn btn-secondary rounded-full" (click)="message('Bedroom_Light', { brightness: 128 })">
            <fa-icon [icon]="lightbulbIcon" size="lg" style="color: rgb(215,215,215);" />
        
          </button>
          <button class="btn btn-secondary rounded-full" (click)="message('Bedroom_Light', { brightness: 254 })">
            <fa-icon [icon]="lightbulbIcon" size="lg" style="color: rgb(255,255,255)" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>