<nav>
  <fa-icon [icon]="logoIcon" size="6x"></fa-icon>
  <h1 class="nav-title">Termite Home</h1>
</nav>

<div class="card w-80 lg:w-96 glass">
  <figure>
    <img src="assets/images/bedroom.png" alt="Bedroom pic" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Bedroom</h2>
    <div class="card-actions">
      <button
        class="btn btn-primary grow"
        (click)="trigger('zigbee2mqtt/Bedroom_Light_Wall_Controller', '1_single')"
      >
        Room Light
      </button>
      
      <button
        class="btn btn-secondary grow"
        (click)="trigger('zigbee2mqtt/Bedroom_Light_Wall_Controller', '2_single')"
      >
        Desk Light
      </button>
    </div>
  </div>
</div>
