[Unit]
Description="Smart Home Device Gateway"

[Service]
ExecStart=/usr/bin/npm run start:prod
WorkingDirectory=/home/par/smart-home/device-gateway
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=MyApp
Environment=AWS_REGION=eu-west-1 NODE_ENV=production PORT=3000 MQTT_URL=mqtt://localhost:1883 SQS_QUEUE_NAME=smart-home-alexa-skill-SmartHomeMessageQueue-9R6PAU14ahIu.fifo SQS_QUEUE_URL=https://sqs.eu-west-1.amazonaws.com/584871003262/smart-home-alexa-skill-SmartHomeMessageQueue-9R6PAU14ahIu.fifo DYNAMODB_STATUS_TABLE_NAME=smart-home-status

[Install]
WantedBy=multi-user.target